/* reset*/

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #fbfafd;
}

h1,
h2,
h3,
h4,
h5 {
    color: #0a0a0a;
}

input {
    border: none;
    border-bottom: 1px solid #e618d5;
    padding: 10px 0;
}

input[TYPE="text"] input[TYPE="number"] input[TYPE="date"] input[TYPE="file"],
textarea {
    width: 400px;
}


/*page header*/

textarea {
    padding: 10px 15px;
}

.header {
    height: 160px;
    padding: 10px;
    background-color: #673ab7
}

.header h3 {
    color: #fffcfc margin-top 0;
    margin-top: 0;
}


/*form container*/

.form-container {
    background-color: #f8efef;
    width: 60%;
    margin: 0 auto;
    position: relative;
    top: -62px;
}


/*form header*/

.form-header {
    border-bottom: 1px solid #fffcfc;
    height: 45px;
}

.form-header {
    color: hsl(0, 0%, 2%);
    border-bottom: 2px solid #673ab7;
    width: 100px;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    height: 45px;
    line-height: 45px;
}


/* form body */

.form-body {
    padding: 30px;
}

.form-title {
    margin-bottom: 15px;
}

.form-body p {
    margin-bottom: 20px;
}

.required-field {
    color: crimson;
}

.box-input {
    margin-bottom: 20px;
}

.block {
    display: block;
}

.optional-list li {
    list-style: none;
}

.box-input p {
    margin-bottom: 15px;
}

.btn-subimit {
    background-color: #a80aa0;
    color: #f8efef;
    border: 2px solid transparent;
    width: 150px;
    height: 40px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s;
}

.btn-subimit:hover {
    background-color: #fdf8f8;
    border-color: #9e0289;
    color: #d827b2;
}